#bc {
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.bc {
    background: #014b97;
    color: #fff;
    display: block;
    float: left;
    font-size: 20px;
    font-style: italic;
    height: 30px;
    line-height: 20px;
    margin-left: 25px;
    padding: 5px 10px;
    position: relative;
    text-decoration: none;
}

.bc:before {
    border: 15px solid #014b97;
    border-top: 30px solid transparent;
    border-left: 0;
    border-bottom: 0;
    content: "";
    display: block;
    left: -15px;
    top: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.bc:after {
    border: 15px solid #014b97;
    border-bottom: 30px solid transparent;
    border-right: 0;
    border-top: 0;
    content: "";
    display: block;
    right: -15px;
    top: 0;
    position: absolute;
    width: 0;
    height: 0;
}

.bc:hover {
    background: #007aff;
}

.bc:hover + .bc,
.bc + .bc:hover,
.bc:hover {
    margin-left: 35px;
    text-decoration: none;
    color: #ffffff;
}

.bc:first-child {
    margin-left: 15px;
}

.bc:hover:before {
    border: 15px solid #007aff;
    border-top: 30px solid transparent;
    border-left: 0;
    border-bottom: 0;
}

.bc:hover:after {
    border: 15px solid #007aff;
    border-bottom: 30px solid transparent;
    border-right: 0;
    border-top: 0;
}

.bc,
.bc:before,
.bc:after {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}