# configuraciones
#config.inc.php
#inc/ad/adLDAP.php
#inc/ad/adLDAP.php
#web.config
#inc/ad/adLDAP.php
#*.PDF
#inc/obj/user.class.php
#test.php
#/_Proveedores/proveedor/documentos
#/mis_pagos/ajax/*.pdf
#*.pdf
#*.xml
#STORAGE/RED_EFECTIVA/TELMEX/*.txt
#STORAGE/RED_EFECTIVA/TELMEX/*.xlsx
#STORAGE/RED_EFECTIVA/TELMEX/*.zip
#logs/
#log.htm
#.idea/D_mired.redefectiva.net.iml
#ngrok.exe
